# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/

# PyCharm / VSCode files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
